Projeto de Análise Econômica: Tendências e Comparações

In [1]:
#Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

Analise Exploratoria

In [3]:
df = pd.read_excel('indicadores_economico.xlsx')

In [4]:
df.head(10)

,Year,Month,logan_passengers,logan_intl_flights,hotel_occup_rate,hotel_avg_daily_rate,total_jobs,unemp_rate,labor_force_part_rate,pipeline_unit,pipeline_total_dev_cost,pipeline_sqft,pipeline_const_jobs,foreclosure_pet,foreclosure_deeds,med_housing_price,housing_sales_vol,new_housing_const_permits,new-affordable_housing_permits
0,2013,1,2019662,2986,0.572,158.93,322957,0.066,0.631,329,8.000000e+07,313107,228,44,11,380000,405,534,134
1,2013,2,1878731,2587,0.645,165.50,324295,0.060,0.629,557,3.607000e+08,885681,809,50,10,359500,332,196,13
2,2013,3,2469155,3250,0.819,187.45,325597,0.058,0.631,127,1.055000e+07,106386,128,6,6,400000,479,12,0
3,2013,4,2551246,3408,0.855,233.44,326101,0.058,0.632,325,1.500000e+08,350000,254,14,8,403000,558,91,24
4,2013,5,2676291,3240,0.858,237.89,325160,0.063,0.633,122,2.222000e+08,457374,402,12,4,425500,809,63,0
5,2013,6,2824862,3402,0.911,244.45,329151,0.070,0.645,482,1.435000e+08,632666,405,14,13,445000,864,352,47
6,2013,7,2978718,3660,0.886,221.20,329650,0.068,0.645,1376,6.409244e+08,1482428,1029,19,11,429000,909,462,44
7,2013,8,3020074,3700,0.917,223.00,330525,0.063,0.643,134,5.789770e+07,283502,203,11,8,435000,989,20,3
8,2013,9,2504491,3181,0.881,255.50,326334,0.063,0.635,833,1.021000e+09,1380698,1112,19,6,438000,677,357,23
9,2013,10,2672640,3056,0.915,287.47,328683,0.058,0.637,542,3.493240e+08,1010491,2835,15,10,465000,619,42,185

In [6]:
df.columns

Index(['Year', 'Month', 'logan_passengers', 'logan_intl_flights',
       'hotel_occup_rate', 'hotel_avg_daily_rate', 'total_jobs', 'unemp_rate',
       'labor_force_part_rate', 'pipeline_unit', 'pipeline_total_dev_cost',
       'pipeline_sqft', 'pipeline_const_jobs', 'foreclosure_pet',
       'foreclosure_deeds', 'med_housing_price', 'housing_sales_vol',
       'new_housing_const_permits', 'new-affordable_housing_permits'],
      dtype='object')

In [7]:
#total de linhas
len(df)

84

In [8]:
#verficar tipos de cada colunas
df.dtypes

Year                                int64
Month                               int64
logan_passengers                    int64
logan_intl_flights                  int64
hotel_occup_rate                  float64
hotel_avg_daily_rate              float64
total_jobs                          int64
unemp_rate                        float64
labor_force_part_rate             float64
pipeline_unit                       int64
pipeline_total_dev_cost           float64
pipeline_sqft                       int64
pipeline_const_jobs                 int64
foreclosure_pet                     int64
foreclosure_deeds                   int64
med_housing_price                   int64
housing_sales_vol                   int64
new_housing_const_permits           int64
new-affordable_housing_permits      int64
dtype: object

In [9]:
df.describe()

,Year,Month,logan_passengers,logan_intl_flights,hotel_occup_rate,hotel_avg_daily_rate,total_jobs,unemp_rate,labor_force_part_rate,pipeline_unit,pipeline_total_dev_cost,pipeline_sqft,pipeline_const_jobs,foreclosure_pet,foreclosure_deeds,med_housing_price,housing_sales_vol,new_housing_const_permits,new-affordable_housing_permits
count,84.000000,84.000000,8.400000e+01,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,8.400000e+01,8.400000e+01,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000,84.000000
mean,2016.000000,6.500000,3.015647e+06,3940.511905,0.817738,244.423929,355989.202381,0.040429,0.646000,468.952381,4.804817e+08,9.925375e+05,801.726190,13.226190,3.773810,167327.845238,269.607143,132.892857,23.130952
std,2.012012,3.472786,5.492766e+05,694.479496,0.108631,49.763225,20682.654613,0.012743,0.013696,455.771606,5.415084e+08,9.512743e+05,795.160124,18.473264,4.934148,221099.042608,496.684817,216.830344,45.644720
min,2013.000000,1.000000,1.878731e+06,2587.000000,0.572000,157.890000,322957.000000,0.020000,0.626000,-54.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2014.000000,3.750000,2.604905e+06,3408.000000,0.768500,187.367500,341119.000000,0.030750,0.634000,134.750000,1.125000e+08,3.460152e+05,278.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.000000,6.500000,3.018654e+06,3960.500000,0.877500,250.280000,352823.000000,0.038000,0.643500,327.000000,2.834794e+08,6.841545e+05,557.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2018.000000,9.250000,3.413058e+06,4516.250000,0.901250,287.050000,370464.000000,0.050000,0.656250,645.000000,6.434358e+08,1.259489e+06,1031.750000,24.250000,8.000000,446250.000000,450.750000,254.000000,26.750000
max,2019.000000,12.000000,4.120937e+06,5260.000000,0.931000,337.920000,392536.000000,0.070000,0.676000,2026.000000,2.755500e+09,4.714445e+06,3976.000000,69.000000,17.000000,517750.000000,2508.000000,897.000000,232.000000

In [10]:
#verificar se existem valores duplicados
df[df.duplicated()]

Empty DataFrame
Columns: [Year, Month, logan_passengers, logan_intl_flights, hotel_occup_rate, hotel_avg_daily_rate, total_jobs, unemp_rate, labor_force_part_rate, pipeline_unit, pipeline_total_dev_cost, pipeline_sqft, pipeline_const_jobs, foreclosure_pet, foreclosure_deeds, med_housing_price, housing_sales_vol, new_housing_const_permits, new-affordable_housing_permits]
Index: []

In [12]:
#verficando se existem valores nulos
df.isnull().sum()

Year                              0
Month                             0
logan_passengers                  0
logan_intl_flights                0
hotel_occup_rate                  0
hotel_avg_daily_rate              0
total_jobs                        0
unemp_rate                        0
labor_force_part_rate             0
pipeline_unit                     0
pipeline_total_dev_cost           0
pipeline_sqft                     0
pipeline_const_jobs               0
foreclosure_pet                   0
foreclosure_deeds                 0
med_housing_price                 0
housing_sales_vol                 0
new_housing_const_permits         0
new-affordable_housing_permits    0
dtype: int64

In [17]:
#funcao para coverter os dados em valor absoluto
def autopct_format(values):
  def my_format(pct):
    total = sum(values)
    val = int(np.round(pct * total / 100))
    return f'{pct:.1f}%\n({val})'
  return my_format